{% extends 'base.html' %}
{% load static %}

{% block content %}

<!-- ======= About Us Section ======= -->
<section id="about" class="about">
  <div class="container" data-aos="fade-up">

    <div class="section-title">
      <h2>О клинике</h2>
      <p>Стоматология работает с 2017 года. Основной идеей нашей клиники является организация полного спектра
        стоматологических услуг в одном месте, чтобы
        пациенту больше никуда не нужно было идти.</p>
    </div>

    <div class="row">
      <div class="col-lg-6" data-aos="fade-right">
        <img src="{% static 'main/assets/img/about.jpg' %}" class="img-fluid" alt="">
      </div>
      <div class="col-lg-6 pt-4 pt-lg-0 content" data-aos="fade-left">
        <p>
          Мы осуществляем лечение, протезирование, зубосохраняющие операции, в ближайшем будущем приступим к
          имплантациям. Кроме того, в новой клинике будут осуществляться и услуги по ортодонтии, в частности – по
          исправлению прикуса. На втором этаже расположен рентгенкабинет, оснащённый современным профессиональным
          аппаратом. Таким образом, пациент может прийти в одно место и сделать всё необходимое от начала до конца – от
          снимка до сложной операции.<br><br>
        </p>
        <p>
          Для того чтобы качественно осуществлять медицинское обслуживание, здесь есть всё необходимое – передовые
          технологии с использованием самых качественных материалов, новое современное медицинское оборудование
          зарубежного производства. Нельзя не отметить и индивидуальный подход к каждому пациенту.<br><br>
        </p>
        <p>
          Главная цель наших специалистов – максимально сохранить природные зубы, которые лучше любых, даже самых
          качественных протезов.<br><br>
        </p>
        <p>
          Посмотреть <a href="https://my.matterhub.ru/8/26ZUDXWiucz/" target="_blank">3D-тур по стоматологии</a>.
        </p>
      </div>
    </div>

  </div>
</section><!-- End About Us Section -->

{% endblock %}
